:root {
  font-family: Inter, system-ui, Avenir, Helvetica, "Arial", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #E7E6E6!important;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

code {
  background-color: #1a1a1a;
  padding: 2px 4px;
  margin: 0 4px;
  border-radius: 4px;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
  code {
    background-color: #f9f9f9;
  }
}

.docx-wrapper {
  background: gray;
  padding: 30px;
  padding-bottom: 0px;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.docx-wrapper>section.docx
{
  background: white;
  margin-bottom: 30px;
}

.docx-wrapper>section.docx {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.docx {
  color: black;
  hyphens: auto;
  text-underline-position: from-font;
}
section.docx {
  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  overflow: hidden;
}

section.docx>article { margin-bottom: auto; z-index: 1; }
section.docx>footer { z-index: 1; }
.docx table { border-collapse: collapse; }
.docx table td, .docx table th { vertical-align: top; }
.docx p { margin: 0; min-height: 1em; }
.docx span { white-space: pre-wrap; overflow-wrap: break-word; }
.docx a { color: inherit; text-decoration: inherit; }


/*  docx styles setup */
/*<!--docxjs library predefined styles-->*/
  .docx-wrapper {
    background: #E7E6E6!important;
    padding: 30px; padding-bottom: 0; display: flex; flex-flow: column; align-items: center;
  }
  .docx-wrapper>section.docx
  {
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
  }
  .docx
  {
    color: black;
    hyphens: auto;
    text-underline-position: from-font;
  }
  section.docx {
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    overflow: hidden;
  }
  section.docx>article { margin-bottom: auto; z-index: 1; }
  section.docx>footer { z-index: 1; }
  .docx table { border-collapse: collapse; }
  .docx table td, .docx table th { vertical-align: top; }
  .docx p { margin: 0pt; min-height: 1em; }
  .docx span { white-space: pre-wrap; overflow-wrap: break-word; }
  .docx a { color: inherit; text-decoration: inherit; }

/*<!--docxjs document theme values-->*/
    .docx {
      --docx-majorHAnsi-font: Calibri Light;
      --docx-minorHAnsi-font: Calibri;
      --docx-dk1-color: #000000;
      --docx-lt1-color: #FFFFFF;
      --docx-dk2-color: #44546A;
      --docx-lt2-color: #E7E6E6;
      --docx-accent1-color: #4472C4;
      --docx-accent2-color: #ED7D31;
      --docx-accent3-color: #A5A5A5;
      --docx-accent4-color: #FFC000;
      --docx-accent5-color: #5B9BD5;
      --docx-accent6-color: #70AD47;
      --docx-hlink-color: #0563C1;
      --docx-folHlink-color: #954F72;
    }

/*<!--docxjs document styles-->*/
    .docx span {
      font-family: Calibri;
    }
  .docx p, p.docx_a span {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  p.docx_2 {
    margin-top: 12.00pt;
    margin-bottom: 3.00pt;
  }
  p.docx_2 span {
    font-family: "Arial";
    font-weight: bold;
    font-style: italic;
    min-height: 14.00pt;
    font-size: 14.00pt;
  }
  p.docx_2 span {
    font-family: "Arial";
    font-weight: bold;
    font-style: italic;
    min-height: 14.00pt;
    font-size: 14.00pt;
  }
  p.docx_3 {
    margin-top: 12.00pt;
    margin-bottom: 3.00pt;
  }
  p.docx_3 span {
    font-weight: bold;
    min-height: 13.00pt;
    font-size: 13.00pt;
    font-family: "Times New Roman";
  }
  p.docx_3 span {
    font-family: "Times New Roman";
    font-weight: bold;
    min-height: 13.00pt;
    font-size: 13.00pt;
  }
  .docx table, table.docx_a1 td {
    padding-top: 0.00pt;
    padding-left: 5.40pt;
    padding-bottom: 0.00pt;
    padding-right: 5.40pt;
  }
  span.docx_20 {
    font-family: "Arial";
    font-weight: bold;
    font-style: italic;
    min-height: 14.00pt;
    font-size: 14.00pt;
  }
  span.docx_20 p {
    margin-top: 12.00pt;
    margin-bottom: 3.00pt;
  }
  span.docx_20 {
    font-family: "Arial";
    font-weight: bold;
    font-style: italic;
    min-height: 14.00pt;
    font-size: 14.00pt;
  }
  span.docx_30 {
    font-family: "Times New Roman";
    font-weight: bold;
    min-height: 13.00pt;
    font-size: 13.00pt;
  }
  span.docx_30 p {
    margin-top: 12.00pt;
    margin-bottom: 3.00pt;
  }
  span.docx_30 {
    font-weight: bold;
    min-height: 13.00pt;
    font-size: 13.00pt;
    font-family: "Times New Roman";
  }
  p.docx_adressissue {
    hyphens: none;
    text-align: center;
  }
  p.docx_adressissue span {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  p.docx_adressissue span {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  span.docx_adressissue0 {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  span.docx_adressissue0 p {
    hyphens: none;
    text-align: center;
  }
  span.docx_adressissue0 {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  p.docx_changesArial {
    margin-top: 6.00pt;
    hyphens: none;
    text-align: center;
  }
  p.docx_changesArial span {
    font-family: "Arial";
    font-style: italic;
    min-height: 11.00pt;
    font-size: 11.00pt;
  }
  p.docx_changesArial span {
    font-family: "Arial";
    font-style: italic;
  }
  span.docx_changesArial0 {
    font-family: "Arial";
    font-style: italic;
  }
  span.docx_changesArial0 p {
    margin-top: 6.00pt;
    hyphens: none;
    text-align: center;
  }
  span.docx_changesArial0 {
    font-family: "Arial";
    font-style: italic;
    min-height: 11.00pt;
    font-size: 11.00pt;
  }
  p.docx_issuestext {
    margin-top: 6.00pt;
    text-indent: 35.45pt;
    text-align: justify;
  }
  p.docx_issuestext span {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  p.docx_issuestext span {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  span.docx_issuestext0 {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  span.docx_issuestext0 p {
    margin-top: 6.00pt;
    text-indent: 35.45pt;
    text-align: justify;
  }
  span.docx_issuestext0 {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  p.docx_copyright {
    text-align: justify;
  }
  p.docx_copyright span {
    min-height: 11.00pt;
    font-size: 11.00pt;
    font-family: "Times New Roman";
  }
  p.docx_copyright span {
    font-family: "Times New Roman";
  }
  span.docx_copyright0 {
    font-family: "Times New Roman";
  }
  span.docx_copyright0 p {
    text-align: justify;
  }
  span.docx_copyright0 {
    min-height: 11.00pt;
    font-size: 11.00pt;
    font-family: "Times New Roman";
  }
  p.docx_dataofissue {
    hyphens: none;
    margin-top: 12.00pt;
    text-align: center;
  }
  p.docx_dataofissue span {
    font-family: "Times New Roman";
    text-transform: uppercase;
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  p.docx_distribution {
    text-align: justify;
  }
  p.docx_distribution span {
    font-family: "Times New Roman";
  }
  p.docx_hcoissueheading {
    hyphens: none;
    text-align: center;
  }
  p.docx_hcoissueheading span {
    font-family: "Times New Roman";
    text-transform: uppercase;
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  p.docx_nonhcopl {
    text-align: right;
  }
  p.docx_nonhcopl span {
    font-family: "Arial";
    text-transform: uppercase;
    min-height: 8.00pt;
    font-size: 8.00pt;
  }
  p.docx_nonhcopl span {
    font-family: "Arial";
    text-transform: uppercase;
    min-height: 8.00pt;
    font-size: 8.00pt;
  }
  span.docx_nonhcopl0 {
    font-family: "Arial";
    text-transform: uppercase;
    min-height: 8.00pt;
    font-size: 8.00pt;
  }
  span.docx_nonhcopl0 p {
    text-align: right;
  }
  span.docx_nonhcopl0 {
    font-family: "Arial";
    text-transform: uppercase;
    min-height: 8.00pt;
    font-size: 8.00pt;
  }
  p.docx_numberedtext {
    text-indent: -35.45pt;
    margin-left: 49.65pt;
    margin-top: 6.00pt;
    text-align: justify;
  }
  p.docx_numberedtext span {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  p.docx_references {
    margin-top: 0.00pt;
    text-indent: -53.85pt;
    margin-left: 89.85pt;
    text-align: justify;
  }
  p.docx_references span {
    min-height: 11.00pt;
    font-size: 11.00pt;
    font-family: "Times New Roman";
  }
  p.docx_reissuedrevised {
    hyphens: none;
    text-align: center;
  }
  p.docx_reissuedrevised span {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  p.docx_reissuedrevised span {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  span.docx_reissuedrevised0 {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  span.docx_reissuedrevised0 p {
    hyphens: none;
    text-align: center;
  }
  span.docx_reissuedrevised0 {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  p.docx_series {
    margin-top: 12.00pt;
    hyphens: none;
    text-align: center;
  }
  p.docx_series span {
    font-weight: bold;
    font-style: italic;
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  p.docx_subject {
    hyphens: none;
    margin-top: 12.00pt;
    margin-bottom: 6.00pt;
    text-align: center;
  }
  p.docx_subject span {
    font-family: "Times New Roman";
    font-weight: bold;
    text-transform: uppercase;
    min-height: 14.00pt;
    font-size: 14.00pt;
  }
  p.docx_sub-subject {
    margin-top: 12.00pt;
    margin-bottom: 6.00pt;
    text-indent: 0.00pt;
    text-align: center;
  }
  p.docx_sub-subject span {
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  p.docx_sub-subjectitallic {
    text-align: left;
    margin-top: 12.00pt;
    margin-bottom: 6.00pt;
    text-indent: 0.00pt;
  }
  p.docx_sub-subjectitallic span {
    font-weight: normal;
    font-style: italic;
    text-transform: uppercase;
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  p.docx_signature {
  }
  p.docx_signature span {
    font-family: "Times New Roman";
    min-height: 12.00pt;
    font-size: 12.00pt;
  }
  span.docx_a3 {
  }

/*<!--docxjs document numbering styles-->*/

  p.docx-num-2-0:before {
    content: "Статья "counter(docx-num-2-0, upper-roman)".\9";
    counter-increment: docx-num-2-0;
  }
  p.docx-num-2-0 {
    display: list-item;
    list-style-position: inside;
    list-style-type: none;
    text-indent: 0.00pt;
    margin-left: 0.00pt;
  }
  p.docx-num-2-0 {
    counter-reset: docx-num-2-1 0;
  }
  p.docx-num-2-1:before {
    content: "Раздел "counter(docx-num-2-0, decimal-leading-zero)"."counter(docx-num-2-1, decimal-leading-zero)"\9";
    counter-increment: docx-num-2-1;
  }
  p.docx-num-2-1 {
    display: list-item;
    list-style-position: inside;
    list-style-type: none;
    text-indent: 0.00pt;
    margin-left: 0.00pt;
  }
  p.docx-num-2-1 {
    counter-reset: docx-num-2-2 0;
  }
  p.docx-num-2-2:before {
    content: "("counter(docx-num-2-2, lower-alpha)")\9";
    counter-increment: docx-num-2-2;
  }
  p.docx-num-2-2 {
    display: list-item;
    list-style-position: inside;
    list-style-type: none;
    text-indent: -21.60pt;
    margin-left: 36.00pt;
  }
  p.docx-num-2-2 {
    counter-reset: docx-num-2-3 0;
  }
  p.docx-num-2-3:before {
    content: "("counter(docx-num-2-3, lower-roman)")\9";
    counter-increment: docx-num-2-3;
  }
  p.docx-num-2-3 {
    display: list-item;
    list-style-position: inside;
    list-style-type: none;
    text-indent: -7.20pt;
    margin-left: 43.20pt;
  }
  p.docx-num-2-3 {
    counter-reset: docx-num-2-4 0;
  }
  p.docx-num-2-4:before {
    content: ""counter(docx-num-2-4, decimal)")\9";
    counter-increment: docx-num-2-4;
  }
  p.docx-num-2-4 {
    display: list-item;
    list-style-position: inside;
    list-style-type: none;
    text-indent: -21.60pt;
    margin-left: 50.40pt;
  }
  p.docx-num-2-4 {
    counter-reset: docx-num-2-5 0;
  }
  p.docx-num-2-5:before {
    content: ""counter(docx-num-2-5, lower-alpha)")\9";
    counter-increment: docx-num-2-5;
  }
  p.docx-num-2-5 {
    display: list-item;
    list-style-position: inside;
    list-style-type: none;
    text-indent: -21.60pt;
    margin-left: 57.60pt;
  }
  p.docx-num-2-5 {
    counter-reset: docx-num-2-6 0;
  }
  p.docx-num-2-6:before {
    content: ""counter(docx-num-2-6, lower-roman)")\9";
    counter-increment: docx-num-2-6;
  }
  p.docx-num-2-6 {
    display: list-item;
    list-style-position: inside;
    list-style-type: none;
    text-indent: -14.40pt;
    margin-left: 64.80pt;
  }
  p.docx-num-2-6 {
    counter-reset: docx-num-2-7 0;
  }
  p.docx-num-2-7:before {
    content: ""counter(docx-num-2-7, lower-alpha)".\9";
    counter-increment: docx-num-2-7;
  }
  p.docx-num-2-7 {
    display: list-item;
    list-style-position: inside;
    list-style-type: none;
    text-indent: -21.60pt;
    margin-left: 72.00pt;
  }
  p.docx-num-2-7 {
    counter-reset: docx-num-2-8 0;
  }
  p.docx-num-2-8:before {
    content: ""counter(docx-num-2-8, lower-roman)".\9";
    counter-increment: docx-num-2-8;
  }
  p.docx-num-2-8 {
    display: list-item;
    list-style-position: inside;
    list-style-type: none;
    text-indent: -7.20pt;
    margin-left: 79.20pt;
  }
  .docx-wrapper {
    counter-reset: docx-num-2-0 0 docx-num-2-1 0 docx-num-2-2 0 docx-num-2-3 0 docx-num-2-4 0 docx-num-2-5 0 docx-num-2-6 0 docx-num-2-7 0 docx-num-2-8 0;
  }

/* общестраничное оформление */
.main-as-page-wrapper {
  width: 21cm;
  min-height: 30cm;
  background-color: #f9f9f9;
  place-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  overflow-y: visible;
  margin-top: 30px;
  margin-bottom: 30px;
}

.main-as-page-wrapper ul {
  width: 100%;
}

.main-as-page-wrapper-scrolled {
  width: 21cm;
  background-color: #f9f9f9;
  place-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  overflow-y: visible;
}
.main-as-page-wrapper-scrolled ul {
  width: 100%;
}



/*адаптация под разные экраны*/

@media screen and (min-width: 20px) and (max-width: 320px) {
  body {
    background-color: #0563C1!important;
    min-width: fit-content!important;
  }

  .docx-wrapper {
    padding: 0!important;
    min-width: fit-content;
    max-width: fit-content;
  }

  section.docx li {
    padding: 0px!important;
  }

  .docx {
    padding: 0px!important;
    width: 100%!important;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .docx_distribution {
    padding-left: 16px;
  }

  .docx_issuestext, .docx_numberedtext, .docx_signature, .docx_copyright, .docx_a3, .docx_copyright0 {
    padding-left: 16px!important;
    padding-right: 16px!important;
    /*font-size: 12px!important;*/
  }

  .docx_hcoissueheading, .docx_signature, .docx_copyright, .docx_copyright0 {
    /*zoom: 0.7!important;*/
  }

  .docx_issuestext, .docx_numberedtext {
    contain: inline-size;
  }
}

@media screen and (min-width: 320px) and (max-width: 900px) {

  section.docx li {
    padding: 16px!important;
  }

  .docx {
    padding: 0px!important;
    width: 100%!important;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .docx_distribution {
    padding-left: 16px;
  }

  .docx_issuestext, .docx_numberedtext {
    padding-left: 16px!important;
    padding-right: 16px!important;
  }



  .docx_issuestext, .docx_numberedtext, .docx_signature, .docx_copyright, .docx_a3, .docx_copyright0 {
    padding-left: 16px!important;
    padding-right: 16px!important;
  }

  .docx_hcoissueheading, .docx_signature, .docx_copyright, .docx_copyright0 {
    padding-left: 16px!important;
    padding-right: 16px!important;
    contain: inline-size;
  }

  .docx_issuestext, .docx_numberedtext {
    contain: inline-size;
  }

}
